USE [master]
GO
/****** Object:  Database [Greenhouse]    Script Date: 29.11.2024 г. 13:34:16 ******/
CREATE DATABASE [Greenhouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Greenhouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Greenhouse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Greenhouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Greenhouse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Greenhouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Greenhouse]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Department_ID] [int] NOT NULL,
	[Department_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobMajors]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobMajors](
	[Job_ID] [int] NOT NULL,
	[Major_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Job_ID] ASC,
	[Major_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Job_ID] [int] NOT NULL,
	[Job_title] [varchar](50) NOT NULL,
	[In_department_number] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Job_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[Major_ID] [int] NOT NULL,
	[Major_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Major_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planted]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planted](
	[Planted_plant_ID] [int] NOT NULL,
	[Plant_ID] [int] NOT NULL,
	[Zone_used] [int] NOT NULL,
	[Planting_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Planted_plant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plants]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plants](
	[Plant_ID] [int] NOT NULL,
	[Plant_name] [varchar](255) NOT NULL,
	[Plant_species] [varchar](255) NOT NULL,
	[Recommended_temperature] [varchar](5) NULL,
	[Recommended_humidity] [varchar](3) NULL,
	[Watering_frequency] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Plant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Shift_ID] [int] NOT NULL,
	[Task_ID] [int] NOT NULL,
	[In_zone] [int] NOT NULL,
	[Done_by] [int] NOT NULL,
	[Shift_from] [time](7) NOT NULL,
	[Shift_until] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Shift_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Task_ID] [int] NOT NULL,
	[Task_name] [varchar](255) NOT NULL,
	[Done_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Task_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Watering]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watering](
	[Watering_ID] [int] NOT NULL,
	[Planted_plant_ID] [int] NOT NULL,
	[Zone_ID] [int] NOT NULL,
	[Watering_time] [datetime] NOT NULL,
	[Last_watered] [datetime] NULL,
	[Next_watering] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Watering_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Worker_ID] [int] NOT NULL,
	[Worker_fname] [varchar](50) NOT NULL,
	[Worker_lname] [varchar](25) NULL,
	[Birthdate] [date] NOT NULL,
	[First_day_at_the_company] [date] NOT NULL,
	[Salary] [money] NULL,
	[Major] [int] NULL,
	[Works_as] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Worker_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 29.11.2024 г. 13:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[Zone_ID] [int] NOT NULL,
	[Zone_name] [varchar](10) NOT NULL,
	[Being_used] [bit] NULL,
	[Zone_temperature] [varchar](5) NULL,
	[Zone_humidity] [varchar](3) NULL,
	[Size_sqare_meters] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Zone_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobMajors]  WITH CHECK ADD FOREIGN KEY([Job_ID])
REFERENCES [dbo].[Jobs] ([Job_ID])
GO
ALTER TABLE [dbo].[JobMajors]  WITH CHECK ADD FOREIGN KEY([Major_ID])
REFERENCES [dbo].[Majors] ([Major_ID])
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD FOREIGN KEY([In_department_number])
REFERENCES [dbo].[Departments] ([Department_ID])
GO
ALTER TABLE [dbo].[Planted]  WITH CHECK ADD FOREIGN KEY([Plant_ID])
REFERENCES [dbo].[Plants] ([Plant_ID])
GO
ALTER TABLE [dbo].[Planted]  WITH CHECK ADD FOREIGN KEY([Zone_used])
REFERENCES [dbo].[Zones] ([Zone_ID])
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([Done_by])
REFERENCES [dbo].[Workers] ([Worker_ID])
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([In_zone])
REFERENCES [dbo].[Zones] ([Zone_ID])
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([Task_ID])
REFERENCES [dbo].[Tasks] ([Task_ID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([Done_by])
REFERENCES [dbo].[Jobs] ([Job_ID])
GO
ALTER TABLE [dbo].[Watering]  WITH CHECK ADD FOREIGN KEY([Planted_plant_ID])
REFERENCES [dbo].[Planted] ([Planted_plant_ID])
GO
ALTER TABLE [dbo].[Watering]  WITH CHECK ADD FOREIGN KEY([Zone_ID])
REFERENCES [dbo].[Zones] ([Zone_ID])
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD FOREIGN KEY([Major])
REFERENCES [dbo].[Majors] ([Major_ID])
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD FOREIGN KEY([Works_as])
REFERENCES [dbo].[Jobs] ([Job_ID])
GO
USE [master]
GO
